.welcome-image {
  background-image: url(assets/type_writer.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}

.page-content{
  flex: 1 0 auto;
}

.footer{
  padding: 7px;
  margin-top: auto;
}